name: Deploy IncidentAtlas to Azure Web App

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: app-incidentatlas   # <-- change to your App Service name
  DOTNET_VERSION: 10.0.x
  NODE_VERSION: 22.x

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore .NET dependencies
        run: dotnet restore src/IncidentAtlas.Web/IncidentAtlas.Web.csproj

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: src/IncidentAtlas.Web/ClientApp/package-lock.json

      - name: Install React dependencies
        run: npm ci
        working-directory: src/IncidentAtlas.Web/ClientApp

      - name: Build React app into wwwroot
        run: npm run build
        working-directory: src/IncidentAtlas.Web/ClientApp

      - name: Publish ASP.NET app
        run: dotnet publish src/IncidentAtlas.Web/IncidentAtlas.Web.csproj -c Release -o ./publish

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ./publish
